# Python
__pycache__/
*.py[cod]
venv/

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# Env
.env

# OS
Thumbs.db
.DS_Store

# Build
build/
dist/
*.spec

# Data (keep quiz.db local only)
backend/quiz.db
